/*romana romana*/
/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
  /* background: url(base01.png); */
  height: 630px;
  width: 750px;
  /*    margin-left: -375px;
      margin-top: -285px;*/
}
.video-div {
  background-color: transparent;
  position: absolute;
  top: -244px;
  left: -197px;
}
.video-div video {
  width: 1150px;
  height: 1150px;
  background-color: transparent;
}
/* .xbox.white {
  background: url(xbox-assets/base-white.svg);
} */

/* .xbox.disconnected {
  background: url(xbox-assets/disconnected.svg);
} */

.xbox.disconnected div {
  display: none;
}

.xbox .triggers {
  width: 446px;
  height: 121px;
  position: absolute;
  left: 152px;
}

.xbox .trigger {
  width: 88px;
  height: 121px;
  /* opacity: 0; */
}

.xbox .trigger.left {
  background: url(BigL.png) no-repeat;
  width: 92px;
  background-size: 100%;
  position: absolute;
  top: 67px;
  left: -36px;
  float: left;
  background-position: 0 0;
  opacity: 0;
}

.xbox .trigger.right {
  background: url(BigR.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: 65px;
  right: -39px;
  float: left;
  background-position: 0 0;
  opacity: 0;
}

.xbox .bumper {
  width: 170px;
  height: 61px;
  opacity: 0;
}

.xbox .bumpers {
  position: absolute;
  width: 536px;
  height: 61px;
  left: 107px;
  top: 129px;
}
.start.pressed{
  background: url(start.png) no-repeat !important;
  width: 100px !important;
  height: 100px !important;
  background-size: 22px !important;
  top: 1px !important;
  right: -264px !important;
  position: absolute !important;
}
.back.pressed{
  background: url(select.png) no-repeat !important;
  width: 100px !important;
  height: 100px !important;
  background-size: 22px !important;
  top: 2px !important;
  left: 12px !important;
  position: absolute !important;
}
.xbox .bumper.left.pressed {
  background: url(SmallL.png) no-repeat;
  background-size: contain;
  width: 97px;
  position: absolute;
  top: 31.65px;
  left: 2px;
  transform: rotateZ(0deg);
}

.xbox .bumper.right {
  background: url(SmallR.png) no-repeat;
  background-size: contain;
  width: 97px;
  position: absolute;
  right: -4.5px;
  transform: rotateZ(0deg);
  top: 30.65px;
}

.xbox .quadrant {
  position: absolute;
  background: url(quadrant01.png);
  height: 45px;
  width: 45px;
  top: 258px;
  left: 354px;
  z-index: 0;
}

.xbox .p0 {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.xbox .p1 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.xbox .p2 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.xbox .p3 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.xbox .arrows {
  position: absolute;
  width: 141px;
  height: 33px;
  top: 202px;
  left: 208px;
}

.xbox .back,
.xbox .start {
  background: url(start-select01.png);
  width: 33px;
  height: 33px;
  opacity: 0;
}

.xbox .back.pressed,
.xbox .start.pressed {
  opacity: 1;
}

.xbox .back {
  float: left;
}

.xbox .start {
  background-position: 33px 0px;
  float: right;
  position: absolute;
  right: -202px;
}

.xbox .abxy {
  position: absolute;
  width: 158px;
  height: 156px;
  top: 174px;
  left: 534px;
}

.xbox .button {
  position: absolute;
  width: 48px;
  height: 48px;
}

.xbox .button.pressed {
  background-position-y: -48px;
  margin-top: 5px;
  opacity: 1;
}

.xbox .a {
  background-position: 0 0;
  top: 108px;
  left: 55px;
}
.xbox .a.pressed {
  background: url(Layer\ 3.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: 49px;
  position: absolute;
  z-index: 99999999;
  top: 144.9px;
  left: 43px;
}

.xbox .b {
  background-position: -49px 0;
  top: 58px;
  right: 0px;
}
.xbox .b.pressed {
  background: url(Layer\ 4.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: 50px;
  position: absolute;
  z-index: 99999999;
  top: 92px;
  right: -36.8px;
}

.xbox .x {
  background-position: -98px 0;
  top: 58px;
  left: 4px;
}
.xbox .x.pressed {
  background: url(Layer\ 2.png) no-repeat;
  width: 100px;
  height: 100px;
  background-size: 48px;
  position: absolute;
  z-index: 99999999;
  top: 91.5px;
  left: -8px;
}

.xbox .y {
  background-position: 48px 0;
  left: 55px;
  top: 7px;
}
.xbox .y.pressed {
  background: url(Layer\ 1.png) no-repeat;
    width: 100px;
    height: 100px;
    background-size: 50px;
    position: absolute;
    z-index: 99999999;
    top: 40px;
    left: 45px;
}

.xbox .sticks {
  position: absolute;
  width: 371px;
  height: 196px;
  top: 239px;
  left: 144px;
}

.xbox .stick {
  position: absolute;
  background: url(stick.png);
  background-size: cover;
  height: 83px;
  width: 83px;
}

.xbox .stick.pressed {
  background: url(stickPress.png);
  background-size: cover;
}

.xbox .stick.left {
  position: absolute;
  top: 113px;
  left: 78px;
}

.xbox .stick.right {
  position: absolute;
  top: 113px;
  left: 307px;
}

.xbox .dpad {
  position: absolute;
  width: 128px;
  height: 111px;
  top: 204px;
  left: 80px;
}

.xbox .face.pressed {
  opacity: 1;
}

.xbox .face.up {
  background: url(up.png) no-repeat;
  background-size: 85%;
  width: 45px;
  top: 33px;
  left: 55px;
}

.xbox .face.down {
  background: url(down.png) no-repeat;
  background-size: 85%;
  width: 45px;
  bottom: -48px;
  left: 55px;
}

.xbox .face.left {
  background: url(left.png) no-repeat;
  background-size: 85%;
  height: 80px;
  left: 15px;
  top: 74px;
}

.xbox .face.right {
  background: url(right.png) no-repeat;
  background-size: 85%;
  height: 80px;
  right: -13px;
  top: 72px;
}

.xbox.half {
  margin-top: -315px;
}

.xbox {
  background: no-repeat center;
}

/*END Xbox One Controller Styling*/
